* {
  margin: 0;
  padding: 0;
}

body input:focus:invalid,
body textarea:focus:invalid {
	box-shadow: 0 0 5px red;
	border-color: red;
	}
body input:required:valid,
body textarea:required:valid {
	box-shadow: 0 0 5px green;
	border-color: green;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
	font-size: 16px;
	width: 100%;
	font-family: "akrobat-black", sans-serif;
	overflow-x: hidden;
	height: 100%;
}
header {
	margin-bottom: 10px;
}
.hidden {
	display: none;
}

.top_line {
	height: 100px;
	color: #0b132b;
	font-family: "akrobat-bold", sans-serif;
	font-size: 16px;

}
.logo {
	float: left;
	padding: 18px 0 18px 110px;
	vertical-align: middle;
}
.content {
	margin: 0 auto;
	background: linear-gradient(to bottom, #f6f6f3, #fff);
	width: 100%;
}
.content h1, .content h2 {
	text-align: center;
	margin: 0;
	padding: 0;
	width: 100%;
}
.content h1 {
	text-transform: uppercase;
	font-size: 36px;
	line-height: 36px;
	padding-top: 30px;
	font-family: "akrobat-bold", sans-serif;
	letter-spacing: 3px;
}

.content h2 {
	font-family: "akrobat-black", sans-serif;
	font-size: 24px;
	letter-spacing: 1px;
	padding: 15px 0 20px;
}
.new_account {
	position: relative;
	width: 380px;
	margin: 0 auto;
}

.content .e-mail,
.content .password {
	display: block;
	margin: 0 auto;
	margin-bottom: 15px;
	width: 60%;
	border: 2px solid #dbdbdb;
	height: 35px;
	padding: 0 10px;
	font-size: 16px;
}

::-webkit-input-placeholder {color:#c2c2c2;font-size: 16px;}
::-moz-placeholder          {color:#c2c2c2;font-size: 16px;}/* Firefox 19+ */
:-moz-placeholder           {color:#c2c2c2;font-size: 16px;}/* Firefox 18- */
:-ms-input-placeholder      {color:#c2c2c2;font-size: 16px;}

.content .new_account label {
	font-size: 12px;
	padding-left: 60px;
	color: #0b132b;
	cursor: pointer;
	line-height: 10px;
	font-family: "akrobat-regular", sans-serif;
}
.content label a {
	color: #0b132b;
	padding-left: 77px;

}
.content label a:hover {
	text-decoration: none;

}
.content .forgot {
	color: #0b132b;
	font-size: 13px;
	font-family: "akrobat-bold", sans-serif;
	letter-spacing: 1px;
	float: right;
	padding-right: 65px;
}
.content .forgot:hover {
	text-decoration: none;
}
.content .create {

	cursor: pointer;
	margin-right: 63px;
	background-color: #f79d00;
	color: #0b132b;
	font-family: "akrobat-bold", sans-serif;
	height: 35px;
	letter-spacing: 2px;
	padding: 0 20px;

	font-size: 14px;
	border: none;
}
.content .new_account .create {
	float: right;
	right: 1px;
	position: absolute;
	top: 350px;
}
.content .new_account .login {
	right: 0;
	top: 265px;
}
.login_h3 {
	padding-top: 85px;
}
.label_login {
	padding-top: 40px;
	position: absolute;
}
.content h3 {
	text-transform: uppercase;
	font-size: 24px;
	font-family: "akrobat-bold", sans-serif;
	text-align: center;
	color: #0b132b;
	margin: 10px 0 10px;
}
.button_gray {
	display: inline-block;
	color: #fff;
	margin: 0 0 0 65px;
	padding: 0;
	vertical-align: middle;
	width: 252px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	font-size: 19px;
	font-family: "akrobat-bold", sans-serif;
	text-decoration: none;
	background-color: #0b132b;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.new_account form {
	margin-bottom: 50px;
}
footer {
	bottom: 0;
	width: 100%;
	background-color: #f6f6f3;
	height: 45px;
	line-height: 45px;
	color: #0b132b;
	font-size: 16px;
	font-family: "akrobat-bold", sans-serif;
	letter-spacing: 1px;

}
.copyright {
	float: left;
	padding: 0 20px 0 100px;
}

.wrapper {
	min-height: calc(100vh - 45px);
}
footer .footer_link a {
	color: #0b132b;
	padding-left: 10px;
}

.gradient_wrapper a {
	text-decoration: none;
}

.gradient-parent {
	border: 10px solid #64f38c;
	height: 260px;
	width: 420px;
	-webkit-border-image: -webkit-gradient(49deg, 0 0, 0 100%, from(#f79d00), to(#64f38c)) 1 45%;
	-webkit-border-image: -webkit-linear-gradient(49deg, #f79d00, #64f38c) 1 45%;
	-moz-border-image: -moz-linear-gradient(49deg, #f79d00, #64f38c) 1 45%;
	-o-border-image: -o-linear-gradient(49deg, #f79d00, #64f38c) 1 45%;
	border-image: linear-gradient(49deg, #f79d00, #64f38c) 1 45%;
	position: relative;
	margin: 45px 80px 0 80px;
	text-align: center;
}
.gradient-parent img {
	padding-top: 40px;
}

.gradient-parent h1 {
	font-size: 60px;
	color: #0b132b;

}

.flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: top;
	/*align-content: center;*/
}

.flex-element {
	order: 0;
	flex-grow: 0;
	flex-shrink:1;
	flex-basis: auto;
	align-self: auto;
}
.gradient_h1 {
	text-align: center;
	font-family: "akrobat-regular", sans-serif;
	font-size: 36px;
}


button.menu::before {
	content: '\2261';
	font-size: 2.7em;
	line-height: 0.8em;

}
button.menu[aria-expanded="true"]::before {
	content: '×';
}
nav {
	float: right;
	margin-top: 20px;
	margin-right: 20px;
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: none;
}
nav ul li {
	padding: 0 0 0 40px;
}
nav ul li:last-child {
	padding-right: 120px;
}
nav ul li a {
	text-transform: uppercase;
	text-decoration: none;
	font-family: "akrobat-bold", sans-serif;
	font-size: 16px;
	color: #0b132b;
	line-height: 45px;
}
nav ul li a:hover,
nav ul li a.active {
	color: #f79d00;
	text-decoration: underline;
}

[aria-hidden="false"] {
	display: block;
}

.file-upload {
	 position: relative;
	 overflow: hidden;
	 width: 100px;
	 height: 40px;
	 background: #f79d00;
	 color: #0b132b;
	 text-align: center;
	 font-size: 14px;
	 margin-left: 115px;
	 font-family: "akrobat-bold", sans-serif;
	letter-spacing: 1px;
}
.file-upload:hover {
	 background: #f79d00;
}
.file-upload input[type="file"]{
	display: none;
}
.file-upload label {
	 display: block;
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 cursor: pointer;

}
.file-upload span {
	 line-height: 40px; /* Делаем вертикальное выравнивание текста, который написан на кнопке */
}
.filename {
	 background: transparent;
	 border: 0;
	 margin: 0 0 0 115px;
}

.add_news h1 {
	text-align: left;
	font-size: 24px;
	font-family: "akrobat-bold", sans-serif;
	margin-left: 115px;
	padding-top: 10px;

}
.green_line {
	margin: 5px 0 0 115px;
	height: 5px;
	width: 75px;
	background-color: #64f38c;
}
.add_news_wrapper {
	position: relative;
	padding-bottom: 80px;
}
.add_news_settings {
	width: 775px;
}
.add_news_settings h3 {
	text-align: left;
	margin: 45px 0 10px 115px;
	font-family: "akrobat-regular", sans-serif;
	font-size: 24px;
	letter-spacing: 1px;
	text-transform: none;
}
.add_news_settings h3.enter_title {
	margin-top: 15px;
}
.title {
	margin: 0 0 20px 115px;
	height: 40px;
	width: 655px;
	border: 2px solid #d2d2d2;
	text-indent: 10px;
}
.select_category {
	width: 152px;
	position: absolute;
	top: 227px;
	left: 318px;
}
.choose_category {
	display: block;
	width: 200px;

}
h3.choose_category {
	margin-top: 0;
}
.news_category {
	display: block;
	width: 150px;
	height: 20px;
	font-family: "akrobat-regular", sans-serif;
	font-size: 14px;
	text-indent: 5px;
	background-color: #eeeeee;
	border: none;
	box-shadow: none;
	background-image: url(../img/arrow.png);
	background-position: right center;
	background-repeat: no-repeat;
}
.add_news_settings .enter_text {
	margin-top: 0;
}
.add_news_settings .text_news {
	margin: 0 0 20px 115px;
	width: 645px;
	height: 210px;
	padding: 5px;
	border: 2px solid #d2d2d2;
}
.add_news_settings .publish {
	margin-left: 676px;
}
.add_news_preview {

	position: absolute;
	width: 380px;
	left: 820px;
	top: 0;
}
.add_news_preview a {
	color: #0b132b;
	font-family: "akrobat-regular", sans-serif;
	font-size: 14px;
	padding-left: 33px;
}
.add_news_preview a:hover {
	text-decoration: none;
}
.attention {
	font-family: "akrobat-regular", sans-serif;
	font-size: 10px;
	text-decoration: underline;
	text-transform: uppercase;
	color: #ff4242;
	margin:0 0 10px 105px;
	letter-spacing: 1px;
}
.bottom_menu {
	font-family: "akrobat-bold", sans-serif;
	font-size: 16px;
	letter-spacing: 0;
	float: right;
}
.bottom_menu ul li {
	padding: 0 0 0 10px;
}
.footer_link {
	float: left;
}
.footer_link a:hover {
	text-decoration: none;
}
.bottom_nav {
	margin: 0;
}
.game_added {
	text-align: center;
}
.game_added h1 {
	font-family: "akrobat-bold", sans-serif;
	font-size: 36px;
	text-align: center;
	letter-spacing: 2px;
	padding: 40px 0 35px;
	line-height: 1.2em;
}
.game_added p {
	text-align: center;
	font-family: "akrobat-black", sans-serif;
	font-size: 24px;
	letter-spacing: 1px;
	padding-bottom: 25px;
}
.game_added a {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;
}
.button_yellow {
	background-color: #f79d00;
	color: #0b132b;
}

.add_game_wrapper {
	width: 360px;
	margin: 0 auto;
	position: relative;
}
.add_game_wrapper h1 {
	font-size: 36px;
	font-family: "akrobat-bold", sans-serif;
	padding-top: 30px;
	letter-spacing: 3px;
}

.add_game_wrapper p {
	font-family: "akrobat-black", sans-serif;
	font-size: 24px;
	letter-spacing: 1px;
	padding: 20px 0 10px 0;
}
.game_name_descr {
	width: 99%;
	height: 40px;
	margin-bottom: 15px;
	text-indent: 10px;
	border: 2px solid #dbdbdb;
	font-size: 18px;
	font-family: "akrobat-regular", sans-serif;
	letter-spacing: 1px;
}
.game_name_descr::-webkit-input-placeholder {font-size: 18px;}
.game_name_descr::-moz-placeholder          {font-size: 18px;}/* Firefox 19+ */
.game_name_descr:-moz-placeholder           {font-size: 18px;}/* Firefox 18- */
.game_name_descr:-ms-input-placeholder      {font-size: 18px;}

.add_game_wrapper .load_logo {
	padding: 0 0 10px 0;
}
.add_game_wrapper .file_logo {
	margin: 0;
	padding: 0;
}
.add_game_wrapper .file_logo {
	background-color: #0b132b;
	color: #fff;
	width: 235px;
}
.filename_logo {
	margin: 0;
}
.save_logo {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 100px;
	height: 40px;
	background-color: #f79d00;
	border: none;
	font-family: "akrobat-bold", sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
	position: absolute;
	right: 0;
	top: 282px;
	cursor: pointer;
}

.load_logo {
	padding: 0;
	margin-bottom: 0;
}
.add_game_wrapper p.currency_exch {
	display: inline-block;
	padding: 0 8px 0 4px;
}
.currency_exch_rate {
	width: 82%;
	margin-bottom: 20px;
}

.add_game_wrapper .exch_currency {
	font-size: 18px;
	font-family: "akrobat-regular", sans-serif;
	letter-spacing: 1px;
}
.add_game_wrapper .add_game_button {
	width: 68%;
	height: 40px;
	background-color: #f79d00;
	border: none;
	font-family: "akrobat-bold", sans-serif;
	font-size: 14px;
	margin: 0 0 20px 48px;
	cursor: pointer;
}