.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
* {
  margin: 0;
  padding: 0;
}

body input:focus:invalid,
body textarea:focus:invalid {
	box-shadow: 0 0 5px red;
	border-color: red;
	}
body input:required:valid,
body textarea:required:valid {
	box-shadow: 0 0 5px green;
	border-color: green;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
	font-size: 16px;
	width: 100%;
	font-family: "akrobat-black", sans-serif;
	overflow-x: hidden;
	height: 100%;
}
header {
	margin-bottom: 10px;
}
.hidden {
	display: none;
}

.top_line {
	height: 75px;
	color: #0b132b;
	font-family: "akrobat-bold", sans-serif;
	font-size: 16px;

}
.logo {
	float: left;
	padding: 10px 0 0 110px;
	vertical-align: middle;
}
.content {
	margin: 0 auto;
	background: linear-gradient(to bottom, #f6f6f3, #fff);
	width: 100%;
}
.content h1, .content h2 {
	text-align: center;
	margin: 0;
	padding: 0;
	width: 100%;
}
.content h1 {
	text-transform: uppercase;
	font-size: 36px;
	line-height: 36px;
	padding-top: 30px;
	font-family: "akrobat-bold", sans-serif;
	letter-spacing: 3px;
}

.content h2 {
	font-family: "akrobat-black", sans-serif;
	font-size: 24px;
	letter-spacing: 1px;
	padding: 15px 0 20px;
}
.new_account {
	position: relative;
	width: 380px;
	margin: 0 auto;
}

.content .e-mail,
.content .password {
	display: block;
	margin: 0 auto;
	margin-bottom: 15px;
	width: 60%;
	border: 2px solid #dbdbdb;
	height: 35px;
	padding: 0 10px;
	font-size: 16px;
}

::-webkit-input-placeholder {color:#c2c2c2;font-size: 16px;}
::-moz-placeholder          {color:#c2c2c2;font-size: 16px;}/* Firefox 19+ */
:-moz-placeholder           {color:#c2c2c2;font-size: 16px;}/* Firefox 18- */
:-ms-input-placeholder      {color:#c2c2c2;font-size: 16px;}

.content .new_account label {
	font-size: 12px;
	padding-left: 60px;
	color: #0b132b;
	cursor: pointer;
	line-height: 10px;
	font-family: "akrobat-regular", sans-serif;
}
.content label a {
	color: #0b132b;
	padding-left: 77px;

}
.content label a:hover {
	text-decoration: none;

}
.content .forgot {
	color: #0b132b;
	font-size: 13px;
	font-family: "akrobat-bold", sans-serif;
	letter-spacing: 1px;
	float: right;
	padding-right: 65px;
}
.content .forgot:hover {
	text-decoration: none;
}
.content .create {

	cursor: pointer;
	margin-right: 63px;
	background-color: #f79d00;
	color: #0b132b;
	font-family: "akrobat-bold", sans-serif;
	height: 35px;
	letter-spacing: 2px;
	padding: 0 20px;

	font-size: 14px;
	border: none;
}
.content .new_account .create {
	float: right;
	right: 1px;
	position: absolute;
	top: 350px;
}
.content .new_account .login {
	right: 0;
	top: 265px;
}
.login_h3 {
	padding-top: 85px;
}
.label_login {
	padding-top: 40px;
	position: absolute;
}
.content h3 {
	text-transform: uppercase;
	font-size: 24px;
	font-family: "akrobat-bold", sans-serif;
	text-align: center;
	color: #0b132b;
	margin: 10px 0 10px;
}
.button_gray {
	display: inline-block;
	color: #fff;
	margin: 0 0 0 65px;
	padding: 0;
	vertical-align: middle;
	width: 252px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	font-size: 19px;
	font-family: "akrobat-bold", sans-serif;
	text-decoration: none;
	background-color: #0b132b;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.new_account form {
	margin-bottom: 50px;
}
footer {
	bottom: 0;
	width: 100%;
	background-color: #f6f6f3;
	height: 45px;
	line-height: 45px;
	color: #0b132b;
	font-size: 16px;
	font-family: "akrobat-bold", sans-serif;
	letter-spacing: 1px;

}
.copyright {
	float: left;
	padding: 0 20px 0 100px;
}

.wrapper {
	min-height: calc(100vh - 45px);
}
footer .footer_link a {
	color: #0b132b;
	padding-left: 10px;
}

.gradient_wrapper a {
	text-decoration: none;
}

.gradient-parent {
	border: 10px solid #64f38c;
	height: 260px;
	width: 420px;
	-webkit-border-image: -webkit-gradient(49deg, 0 0, 0 100%, from(#f79d00), to(#64f38c)) 1 45%;
	-webkit-border-image: -webkit-linear-gradient(49deg, #f79d00, #64f38c) 1 45%;
	-moz-border-image: -moz-linear-gradient(49deg, #f79d00, #64f38c) 1 45%;
	-o-border-image: -o-linear-gradient(49deg, #f79d00, #64f38c) 1 45%;
	border-image: linear-gradient(49deg, #f79d00, #64f38c) 1 45%;
	position: relative;
	margin: 45px 80px 0 80px;
	text-align: center;
}
.gradient-parent img {
	padding-top: 40px;
}

.gradient-parent h1 {
	font-size: 60px;
	color: #0b132b;

}

.flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: top;
}

.flex-element {
	order: 0;
	flex-grow: 0;
	flex-shrink:1;
	flex-basis: auto;
	align-self: auto;
}
.gradient_h1 {
	margin-top: 26px;
	text-align: center;
	font-family: "akrobat-regular", sans-serif;
	font-size: 36px;
}


button.menu::before {
	content: '\2261';
	font-size: 2.7em;
	line-height: 0.8em;

}
button.menu[aria-expanded="true"]::before {
	content: '×';
}
nav {
	float: right;
	margin-top: 20px;
	margin-right: 20px;
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: none;
}
nav ul li {
	padding: 0 0 0 40px;
}
nav ul li:last-child {
	padding-right: 120px;
}
nav ul li a {
	text-transform: uppercase;
	text-decoration: none;
	font-family: "akrobat-bold", sans-serif;
	font-size: 16px;
	color: #0b132b;
	line-height: 45px;
}
nav ul li a:hover,
nav ul li a.active {
	color: #f79d00;
	text-decoration: underline;
}

[aria-hidden="false"] {
	display: block;
}

.file-upload {
	 position: relative;
	 overflow: hidden;
	 width: 100px;
	 height: 40px;
	 background: #f79d00;
	 color: #0b132b;
	 text-align: center;
	 font-size: 14px;
	 margin-left: 115px;
	 font-family: "akrobat-bold", sans-serif;
	letter-spacing: 1px;
}
.file-upload:hover {
	 background: #f79d00;
}
.file-upload input[type="file"]{
	display: none;
}
.file-upload label {
	 display: block;
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 cursor: pointer;

}
.file-upload span {
	 line-height: 40px; /* Делаем вертикальное выравнивание текста, который написан на кнопке */
}
.filename {
	 background: transparent;
	 border: 0;
	 margin: 0 0 0 115px;
}

.add_news h1 {
	text-align: left;
	font-size: 24px;
	font-family: "akrobat-bold", sans-serif;
	margin-left: 115px;
	padding-top: 10px;

}
.green_line {
	margin: 5px 0 0 115px;
	height: 5px;
	width: 75px;
	background-color: #64f38c;
}
.add_news_wrapper {
	position: relative;
	padding-bottom: 80px;
}
.add_news_settings {
	width: 775px;
}
.add_news_settings h3 {
	text-align: left;
	margin: 45px 0 10px 115px;
	font-family: "akrobat-regular", sans-serif;
	font-size: 24px;
	letter-spacing: 1px;
	text-transform: none;
}
.add_news_settings h3.enter_title {
	margin-top: 15px;
}
.title {
	margin: 0 0 20px 115px;
	height: 40px;
	width: 655px;
	border: 2px solid #d2d2d2;
	text-indent: 10px;
}
.select_category {
	width: 152px;
	position: absolute;
	top: 227px;
	left: 318px;
}
.choose_category {
	display: block;
	width: 200px;

}
h3.choose_category {
	margin-top: 0;
}
.news_category {
	display: block;
	width: 150px;
	height: 20px;
	font-family: "akrobat-regular", sans-serif;
	font-size: 14px;
	text-indent: 5px;
	background-color: #eeeeee;
	border: none;
	box-shadow: none;
	background-image: url(../img/arrow.png);
	background-position: right center;
	background-repeat: no-repeat;
}
.add_news_settings .enter_text {
	margin-top: 0;
}
.add_news_settings .text_news {
	margin: 0 0 20px 115px;
	width: 645px;
	height: 210px;
	padding: 5px;
	border: 2px solid #d2d2d2;
}
.add_news_settings .publish {
	margin-left: 676px;
}
.add_news_preview {

	position: absolute;
	width: 380px;
	left: 820px;
	top: 0;
}
.add_news_preview a {
	color: #0b132b;
	font-family: "akrobat-regular", sans-serif;
	font-size: 14px;
	padding-left: 33px;
}
.add_news_preview a:hover {
	text-decoration: none;
}
.attention {
	font-family: "akrobat-regular", sans-serif;
	font-size: 10px;
	text-decoration: underline;
	text-transform: uppercase;
	color: #ff4242;
	margin:0 0 10px 105px;
	letter-spacing: 1px;
}
.bottom_menu {
	font-family: "akrobat-bold", sans-serif;
	font-size: 16px;
	letter-spacing: 0;
	float: right;
}
.bottom_menu ul li {
	padding: 0 0 0 10px;
}
.bottom_menu_gamer ul li {
	padding: 0 0 0 40px;
}
.footer_link {
	float: left;
}
.footer_link a:hover,
.footer_link a.active {
	color: #f79d00;
}
.bottom_nav {
	margin: 0;
}
.game_added {
	text-align: center;
}
.game_added h1 {
	font-family: "akrobat-bold", sans-serif;
	font-size: 36px;
	text-align: center;
	letter-spacing: 2px;
	padding: 40px 0 35px;
	line-height: 1.2em;
}
.game_added p {
	text-align: center;
	font-family: "akrobat-black", sans-serif;
	font-size: 24px;
	letter-spacing: 1px;
	padding-bottom: 25px;
}
.game_added a {
	display: block;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 15px;
}
.button_yellow {
	background-color: #f79d00;
	color: #0b132b;
}

.add_game_wrapper {
	width: 360px;
	margin: 0 auto;
	position: relative;
}
.add_game_wrapper h1 {
	font-size: 36px;
	font-family: "akrobat-bold", sans-serif;
	padding-top: 30px;
	letter-spacing: 3px;
}

.add_game_wrapper p {
	font-family: "akrobat-black", sans-serif;
	font-size: 24px;
	letter-spacing: 1px;
	padding: 20px 0 10px 0;
}
.game_name_descr {
	width: 99%;
	height: 40px;
	margin-bottom: 15px;
	text-indent: 10px;
	border: 2px solid #dbdbdb;
	font-size: 18px;
	font-family: "akrobat-regular", sans-serif;
	letter-spacing: 1px;
}
.game_name_descr::-webkit-input-placeholder {font-size: 18px;}
.game_name_descr::-moz-placeholder          {font-size: 18px;}/* Firefox 19+ */
.game_name_descr:-moz-placeholder           {font-size: 18px;}/* Firefox 18- */
.game_name_descr:-ms-input-placeholder      {font-size: 18px;}

.add_game_wrapper .load_logo {
	padding: 0 0 10px 0;
}
.add_game_wrapper .file_logo {
	margin: 0;
	padding: 0;
}
.add_game_wrapper .file_logo {
	background-color: #0b132b;
	color: #fff;
	width: 235px;
}
.filename_logo {
	margin: 0;
}
.save_logo {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 100px;
	height: 40px;
	background-color: #f79d00;
	border: none;
	font-family: "akrobat-bold", sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
	position: absolute;
	right: 0;
	top: 282px;
	cursor: pointer;
}

.load_logo {
	padding: 0;
	margin-bottom: 0;
}
.add_game_wrapper p.currency_exch {
	display: inline-block;
	padding: 0 8px 0 4px;
}
.currency_exch_rate {
	width: 82%;
	margin-bottom: 20px;
}

.add_game_wrapper .exch_currency {
	font-size: 18px;
	font-family: "akrobat-regular", sans-serif;
	letter-spacing: 1px;
}
.add_game_wrapper .add_game_button {
	width: 68%;
	height: 40px;
	background-color: #f79d00;
	border: none;
	font-family: "akrobat-bold", sans-serif;
	font-size: 14px;
	margin: 0 0 20px 48px;
	cursor: pointer;
}
.order_adv {
	position: relative;
}
.order_adv_wrapper {
	margin: 10px 50px 40px 300px;
	width: 370px;
	position: relative;
}
.order_adv .order_adv_wrapper h2 {
	padding-bottom: 10px;
	text-align: left;
}
.order_adv .order_adv_wrapper h2 span {
	padding-left: 22px;
}
.order_adv .green_line {
	margin: 0;
	padding: 0;
}
.order_adv .order_adv_wrapper p {
	display: inline-block;
}
.order_adv_wrapper_items {
	padding-left: 102px;
}
.order_adv_wrapper_items p {
	font-family: "akrobat-regular", sans-serif;
	font-size: 24px;
	padding: 4px 0 0 10px;
}
.resolution_cat {
	position: absolute;
	top: 67px;
	right: 88px;
}
.resolution_select {
	width: 100px;
	background-image: url(../img/arrow.png);
	background-position: right center;
	background-repeat: no-repeat;
	border: none;
	background-color: #eeeeee;
}
.adver_load_img {
	margin: 10px 0 0 103px;
}
.enter_amount {
	font-family: "akrobat-regular", sans-serif;
	font-size: 24px;
}
.adv_amount {
	margin: 10px 0 0 0;
	width: 160px;
	height: 32px;
	border: 2px solid #d2d2d2;
}
.adv_pay_wrapper {
	margin: 0 0 10px 103px;
	position: relative;

}
.adv_pay_ok {
	position: absolute;
	top: 38px;
	right: -31px;
}
.total_payment {
	margin: 0 0 10px 103px;
}
.order_adv_wrapper .total_payment h2 {
	padding-bottom: 0;
}
.order_adv_wrapper .total_payment h2 span {
	padding: 0;
	margin: 0;
}
.order_adv_wrapper .total_payment p {
	font-family: "akrobat-regular", sans-serif;
	font-size: 14px;
	padding-bottom: 10px;
}
.order_adv_wrapper .total_payment .totum_currency_value {
	font-size: 24px;
	padding-left: 5px;
	text-decoration: underline;
	letter-spacing: 1px;
}
.order_adv_wrapper .total_payment .total_payment_pay {
	width: 100px;
	margin-top: 15px;
}
.adventise_preview {
	position: absolute;
	top: 95px;
	right: 120px;
}
.adventise_preview a {
	color: #0b132b;
	padding: 0 0 10px 34px;
	font-family: "akrobat-regular", sans-serif;
	font-size: 14px;
}
.adventise_preview .adventise_preview_wrap {
	position: relative;
}
.adventise_preview .adventise_preview_wrap .rectangle_green {
	width: 281px;
	height: 61px;
	background-color: #64f38c;
	top: 79px;
	right: 61px;
	position: absolute;
	text-align: center;

}
.adventise_preview .adventise_preview_wrap .rectangle_green p {
	font-size: 14px;
	text-transform: uppercase;
	padding-top: 25px;
}
.content_term_of_use {
	background: linear-gradient(to bottom, #f6f6f3, #fff);
	width: 100%;
}
.term_of_use_wrapper {
	padding: 0 100px;
	margin: 0 auto;
}
.term_of_use_wrapper p {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: "akrobat-regular", sans-serif;
}
.term_of_use_wrapper h1 {
	font-size: 60px;
	text-transform: uppercase;
}
.term_of_use_wrapper .green_line {
	margin: 0 0 10px 0;
	width: 104px;
}
.term_of_use_wrapper h4 {
	font-size: 24px;
}
.term_of_use_wrapper h5 {
	font-family: "akrobat-bold", sans-serif;
	font-size: 16px;
	margin-top: 20px;
}
.term_of_use_wrapper p.attention {
	font-size: 10px;
	color: #ff4242;
	letter-spacing: 1px;
	margin: 80px 0 10px 0;
}
.balance_wrapper {
	background: linear-gradient(to bottom, #f6f6f3, #fff);
	width: 100%;
}
.my_ballance_wrapper {
	margin: 0 110px;
	padding-top: 30px;
}
.balance_wrapper .my_balance {
	width: 150px;
}
.balance_wrapper .my_profile p {
	display: inline-block;
	line-height: 29px;
	vertical-align: top;
	font-family: "akrobat-regular", sans-serif;
	font-size: 16px;
	padding-left: 10px;
}
.balance_wrapper h1 {
	font-size: 24px;
	text-transform: uppercase;
	padding-top: 15px;
	color: #0b132b;
	letter-spacing: 1px;
}
.balance_wrapper .green_line {
	padding: 0;
	margin: 10px 0 10px 0;
	width: 105px;
}
.balance_wrapper h2 {
	display: inline-block;
	font-family: "akrobat-regular", sans-serif;
	font-size: 36px;
	line-height: 36px;
}
.my_ballance_inner {
	justify-content: left;
}
.dev_balance_wrapper .my_ballance_inner {
	justify-content: space-between;
}
.balance_wrapper .change_balance {
	margin-left: 310px;
	position: relative;
	width: 490px;
}
.change_balance_tab_wrapper {
	position: absolute;
	top: 45px;
	right: 16px;
}
.balance_wrapper .change_balance_tab_wrapper .tabs {

	font-family: "akrobat-bold", sans-serif;
	font-size: 14px;
	color: #0b132b;
	text-transform: uppercase;
	cursor: pointer;
	letter-spacing: 2px;
	text-align: right;
	margin-bottom: 15px;
}
.balance_wrapper .change_balance_tab_wrapper .tabs span {
	padding: 15px;
}

.balance_wrapper .change_balance_tab_wrapper .active{
	color: #f79d00;
	text-decoration: underline;
	background-color: #f6f6f3;
	border-top: 1px solid #9c9c9c;
	border-left: 1px solid #9c9c9c;
	border-right: 1px solid #9c9c9c;
	border-bottom: 1px solid #f6f6f3;
}
.change_balance_tab_wrapper .tab_content {
	background-color: #f6f6f3;
	border: 1px solid #9c9c9c;
	padding: 20px;
}
.change_balance_tab_wrapper .tab_content .tab_item a {
	margin: 0 15px;
}
.change_balance_tab_wrapper .tab_content .paymant_1 {
	margin-bottom: 17px;
}
.change_balance_tab_wrapper .tab_content .ethereum {
	padding-left: 13px;
}
.balance_wrapper .my_games {
	margin: 120px 0 35px 0;
	padding: 0 110px;
}
.balance_wrapper .carousel_wrapper {
	position: relative;
}
.balance_wrapper .carousel_wrapper .carousel_wrapper_in {
	margin: 0 20px;
}
.balance_wrapper .my_games .owl-wrapper-outer {
	overflow: hidden;
	background: white;
	width: 99%;
}
.balance_wrapper .my_games .carousel-element {
	text-align: center;
	width: 100px;
}
.balance_wrapper .my_games .carousel-element .min_totum {
	width: 10px;
}
.balance_wrapper .carousel_wrapper .carousel_nav .carousel_nav_next {
	position: absolute;
	right: 80px;
	top: 0;
	background-image: url(../img/arrow_right.png);
	background-position: right center;
	background-repeat: no-repeat;
}
.balance_wrapper .carousel_wrapper .carousel_nav .carousel_nav_prev {
	position: absolute;
	left: 6px;
	top: 0;
	background-image: url(../img/arrow_left.png);
	background-position: left center;
	background-repeat: no-repeat;
}
.balance_wrapper .carousel_wrapper .carousel_nav a {
	text-decoration: none;
	font-size: 60px;
	color: #fff;
}

.balance_wrapper .carousel_wrapper p {
	font-family: "akrobat-regular", sans-serif;
	font-size: 18px;
	text-align: center;
	letter-spacing: 2px;
	display: inline-block;
}
.balance_wrapper .carousel_wrapper a.my_games_button,
.dev_balance_wrapper .my_games .my_games_list a.my_games_button {
	font-family: "akrobat-bold", sans-serif;
	font-size: 14px;
	background-color: #f79d00;
	color: #0b132b;
	text-decoration: none;
	text-transform: uppercase;
	padding: 15px 22px;
	line-height: 14px;
	vertical-align: middle;
	display: block;
	margin-top: 10px;
}
.my_history_wrapper {
	width: 100%;
	position: relative;
}
.my_history {
	padding: 20px 110px 10px 110px;
	background-color: #0b132b;
}
.my_history h1 {
	font-size: 24px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: -16px;
}
table.dataTable.row-border tbody th,
table.dataTable.row-border tbody td,
table.dataTable.display tbody th,
table.dataTable.display tbody td {
	border: none;
	font-family: "akrobat-regular", sans-serif;
	font-size: 16px;
}
.my_history .dataTables_wrapper .dataTables_length label,
.my_history .dataTables_wrapper .dataTables_filter label,
.my_history .dataTables_wrapper .dataTables_info {
	display: none;
}
.my_history .dataTables_wrapper .dataTable thead .sorting_asc,
.my_history .dataTables_wrapper .dataTable thead .sorting,
.my_history .dataTables_wrapper .dataTable thead .sorting_desc,
.my_history .dataTables_wrapper .dataTable thead th {
	text-align: left;
	padding-left: 0;
	color: #f79d00;
	text-transform: uppercase;
	font-family: "akrobat-bold", sans-serif;
	font-size: 16px;
}
.my_history_table tfoot {
	display: none;
}
.my_history_table .dataTables_wrapper .dataTable tbody {
	color: #fff;
	border: none;
}
.my_history_table .dataTables_wrapper .dataTable tbody .odd,
.my_history_table .dataTables_wrapper .dataTable tbody .odd .sorting_1 {
	background-color: #242b41;
	padding-left: 0;
}
.my_history_table .dataTables_wrapper .dataTable tbody .even,
.my_history_table .dataTables_wrapper .dataTable tbody .even .sorting_1 {
	background-color: #0b132b;
	padding-left: 0;
}
.my_history_table .dataTables_wrapper .dataTable tbody .odd td,
.my_history_table .dataTables_wrapper .dataTable tbody .even td {
	padding-left: 0;
}
.my_history_table .dataTables_wrapper .dataTables_paginate .paginate_button {
	color: #f79d00 !important;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 14px;
	font-family: "akrobat-bold", sans-serif;
}
.my_history_table .dataTables_wrapper .dataTables_paginate .current {
	background: none !important;
}
.my_history_table .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	background: none !important;
	border: none;
}
.my_history .dataTables_wrapper .dataTables_paginate {
	display: block;
	position: absolute;
	bottom: -50px;
	left: 38%;
}
.my_history_wrapper .attention {
	margin-left: 0;
	padding-left: 0;
	padding-top: 80px;
}
.my_history_table .dataTables_wrapper .dataTable tbody td.first {
	padding-left: 5px;
}
.dev_balance_wrapper .daily_income {
	margin-left: 0;
	position: relative;
	width: 290px;
	height: 206px;
}
.dev_balance_wrapper .daily_income a {
	display: block;
	float: right;
	text-decoration: none;
	text-transform: uppercase;
	border: 2px solid #64f38c;
	color: #9c9c9c;
	margin-top: -25px;
	padding: 5px 15px;
	font-size: 10px;
	font-family: "akrobat-bold", sans-serif;
}
.dev_balance_wrapper .change_balance {
	margin-left: 0;
}
.dev_balance_wrapper .daily_income .histogram_wrapper {
	width: 280px;
	height: 140px;
	margin-top: 19px;
	position: relative;
	font-family: "akrobat-regular", sans-serif;
	font-size: 13px;
	color: #9c9c9c;
	letter-spacing: -0.5px;
	margin-top: 39px;
}
.dev_balance_wrapper .daily_income .histogram_wrapper .points {
	position: absolute;
	width: 3px;
	height: 3px;
	background-color: #9c9c9c;
	z-index: 2;
}
.dev_balance_wrapper .daily_income .histogram_wrapper .y_point1 {
	left: 33px;
	bottom: 40px;
}
.dev_balance_wrapper .daily_income .histogram_wrapper .y_point2 {
	left: 33px;
	bottom: 65px;
}
.dev_balance_wrapper .daily_income .histogram_wrapper .y_point3 {
	left: 33px;
	bottom: 90px;
}
.dev_balance_wrapper .daily_income .histogram_wrapper .y_point4 {
	left: 33px;
	bottom: 115px;
}
.dev_balance_wrapper .daily_income .histogram_wrapper .x_point1 {
	left: 94px;
	bottom: 18px;
}
.dev_balance_wrapper .daily_income .histogram_wrapper .x_point2 {
	left: 233px;
	bottom: 18px;
}
.dev_balance_wrapper .daily_income .histogram_wrapper .x_1 {
	left: 67px;
	bottom: 2px;
	position: absolute;
}
.dev_balance_wrapper .daily_income .histogram_wrapper .x_2 {
	left: 210px;
	bottom: 2px;
	position: absolute;
}
.dev_balance_wrapper .daily_income .histogram_wrapper .y_4 {
	left: 0;
	top: 15px;
	position: absolute;
}
.dev_balance_wrapper .daily_income .histogram_wrapper .y_3 {
	left: 3px;
	top: 40px;
	position: absolute;
}
.dev_balance_wrapper .daily_income .histogram_wrapper .y_2 {
	left: 3px;
	top: 65px;
	position: absolute;
}
.dev_balance_wrapper .daily_income .histogram_wrapper .y_1 {
	left: 7px;
	top: 90px;
	position: absolute;
}
.dev_balance_wrapper .daily_income .histogram_wrapper .histogram {
	position: absolute;
	top: 0;
	right: 0;
	width: 245px;
	height: 120px;
	border-bottom: 1px solid #9a9a9a;
	border-left: 1px solid #9a9a9a;
}
.dev_balance_wrapper .daily_income .histogram_wrapper .histogram .period {
	font-family: "akrobat-bold", sans-serif;
	font-size: 10px;
	color: #0b132b;
	text-align: right;
	text-decoration: underline;
}
.dev_balance_wrapper .daily_income .histogram_wrapper .histogram .block_odd {
	background-color: #c1fad1;
	position: absolute;
}
.dev_balance_wrapper .daily_income .histogram_wrapper .histogram .block_even {
	background-color: #83f5a3;
	position: absolute;
}
.dev_balance_wrapper .daily_income .histogram_wrapper .histogram .block_1 {
	height: 35px;
	width: 20px;
	bottom: 0;
	left: 0;
}
.dev_balance_wrapper .daily_income .histogram_wrapper .histogram .block_2 {
	height: 60px;
	width: 20px;
	bottom: 0;
	left: 20px;
}
.dev_balance_wrapper .daily_income .histogram_wrapper .histogram .block_3 {
	height: 85px;
	width: 20px;
	bottom: 0;
	left: 40px;
}
.dev_balance_wrapper .daily_income .histogram_wrapper .histogram .block_4 {
	height: 90px;
	width: 20px;
	bottom: 0;
	left: 60px;
}
.dev_balance_wrapper .daily_income .histogram_wrapper .histogram .block_5 {
	height: 70px;
	width: 20px;
	bottom: 0;
	left: 80px;
}
.dev_balance_wrapper .daily_income .histogram_wrapper .histogram .block_6 {
	height: 35px;
	width: 20px;
	bottom: 0;
	left: 100px;
}
.dev_balance_wrapper .daily_income .histogram_wrapper .histogram .block_7 {
	height: 110px;
	width: 20px;
	bottom: 0;
	left: 120px;
}
.dev_balance_wrapper .daily_income .histogram_wrapper .histogram .block_8 {
	height: 75px;
	width: 20px;
	bottom: 0;
	left: 140px;
}
.dev_balance_wrapper .daily_income .histogram_wrapper .histogram .block_9 {
	height: 95px;
	width: 20px;
	bottom: 0;
	left: 160px;
}
.dev_balance_wrapper .daily_income .histogram_wrapper .histogram .block_10 {
	height: 60px;
	width: 20px;
	bottom: 0;
	left: 180px;
}
.news_article_gamer_wrapper {
	background: linear-gradient(to bottom, #f6f6f3, #fff);
}
.news_article_gamer_wrap {
	margin: 0 105px;
}
.news_article_gamer {
	float: left;
	width: 75%;
}
.aside_news_article_gamer {
	float: right;
	width: 25%;
}
.news_article_gamer .news_menu {
	margin-top: 15px;
}

.news_article_gamer .news_menu ul li {
	padding: 0 90px 0 0;
	margin-left: 0;
	display: inline-block;
}
.news_article_gamer .news_menu ul li:last-child {
	padding: 0;
}
.news_article_gamer .news_menu ul li a {
	font-family: "akrobat-black", sans-serif;
	font-size: 12px;
	color: #0b132b;
	text-transform: uppercase;
	text-decoration: none;

}
.news_article_gamer .news_menu ul li a:hover,
.news_article_gamer .news_menu ul li a.active {
	color: #64f38c;
	text-decoration: underline;
}
.news_article_gamer_wrap .news_full h1 {
	font-family: "akrobat-bold", sans-serif;
	font-size: 60px;
	color: #f79d00;
	padding-top: 20px;
}
.news_article_gamer_wrap .news_full img {
	width: 100%;
}
.news_article_gamer_wrap .news_full .news_full_info {
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 30px 0 20px;
}
.news_article_gamer_wrap .news_full .news_full_info .date,
.news_article_gamer_wrap .news_full .news_full_info .category,
.news_article_gamer_wrap .news_full .news_full_info .developer {
	display: inline-block;
}
.news_article_gamer_wrap .news_full .news_full_info .category {
	padding-left: 20px;
}
.news_article_gamer_wrap .news_full .news_full_info .developer {
	font-family: "akrobat-bold", sans-serif;
	padding-left: 90px;
}
.news_article_gamer_wrap .news_full p {
	padding: 15px 0;
	font-family: "akrobat-regular", sans-serif;
	font-size: 14px;
}
.news_article_gamer_wrap .news_full h2 {
	font-family: "akrobat-bold", sans-serif;
	font-size: 18px;
	color: #f79d00;
	letter-spacing: 1px;
	padding: 30px 0 10px;
}
.news_article_gamer_wrap .news_full a {
	font-family: "akrobat-bold", sans-serif;
	font-size: 12px;
	letter-spacing: 2px;
	color: #f79d00;
	text-decoration: none;
	text-transform: uppercase;
}
.news_article_gamer_wrap .news_full a:hover {
	text-decoration: underline;
}
.news_article_gamer_wrap .news_full p.attention {
	margin: 0;
	padding: 20px 0 10px;
	font-size: 10px;
}
.news_article_gamer_wrap .search {
	margin: 7px 0 0 35px;
}
.news_article_gamer_wrap .search input {
	float: left;
}
.news_article_gamer_wrap .search .stxt {
	border: none;
	width: 78%;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	vertical-align: middle;
	color: #0b132b;
	text-indent: 10px;
}
.news_article_gamer_wrap .aside_news_article_gamer .aside_news_article_gamer_wrapper {
	margin-left: 15px;
}
.news_article_gamer_wrap .aside_news_article_gamer .search .simg,
.news_article_gamer_wrap .news_all_gamer .search .simg {
	margin: 5px 0 0 -22px;
}
.news_article_gamer_wrap .aside_news_article_gamer img.aside_news {
	margin-top: 20px;
	width: 100%;
}
.news_article_gamer_wrap .aside_news_article_gamer h3 {
	font-family: "akrobat-bold", sans-serif;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 15px 0 5px 0;
}
.news_article_gamer_wrap .aside_news_article_gamer .green_line {
	margin: 0;
	padding: 0;
}
.news_article_gamer_wrap .aside_news_article_gamer .news_full_info {
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 15px 0;
}
.news_article_gamer_wrap .aside_news_article_gamer .news_full_info .date,
.news_article_gamer_wrap .aside_news_article_gamer .news_full_info .category,
.news_article_gamer_wrap .aside_news_article_gamer .news_full_info .developer {
	display: inline-block;
}
.news_article_gamer_wrap .aside_news_article_gamer .news_full_info .developer {
	font-family: "akrobat-bold", sans-serif;
}
.news_article_gamer_wrap .aside_news_article_gamer .news_full_info .date {
	margin-right: 15px;
}
.news_article_gamer_wrap .aside_news_article_gamer .news_full_info .category {
	margin-right: 50px;
}
.news_article_gamer_wrap .aside_news_article_gamer .block_aside_news h2 {
	font-family: "akrobat-semibold", sans-serif;
	color: #f79d00;
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.news_article_gamer_wrap .aside_news_article_gamer h3.second_block {
	padding-top: 70px;
}
.news_article_gamer_wrap .aside_news_article_gamer .block_aside_news a {
	text-decoration: none;
	color: #f79d00;
}
.news_article_gamer_wrap .aside_news_article_gamer .block_aside_news a:hover {
	text-decoration: underline;
}
.news_article_gamer_wrap .news_article_gamer .search_wrapper {
	float: right;
}
.news_article_gamer_wrap .news_article_gamer .search_wrapper .search .stxt {
	width: 220px;
}
.news_article_gamer_wrapper .news_all_gamer {
	width: 100%;
}
.news_article_gamer_wrap .news_all_gamer .search_wrapper .search {
	margin-top: -25px;
}
.news_article_gamer_wrap .news_all_gamer .news_top {
	margin-top: 25px;
}
.news_article_gamer_wrap .news_all_gamer .news_top .top_news1,
.news_article_gamer_wrap .news_all_gamer .news_top .top_news2 {
	float: left;
}
.news_article_gamer_wrap .news_all_gamer .news_top .top_news3 {
	float: right;
	width: 29.5%;
}
.news_article_gamer_wrap .news_all_gamer .news_top .top_news1 {
	width: 41%;
	margin-right: 1.5%;
}
.news_article_gamer_wrap .news_all_gamer .news_top .top_news2 {
	width: 26%;
}
.all_news_wrapper {
	width: 100%;
	float: left;
}
.news_article_gamer_wrap .news_all_gamer .news_top .top_news1 img,
.news_article_gamer_wrap .news_all_gamer .news_top .top_news2 img,
.news_article_gamer_wrap .news_all_gamer .news_top .top_news3 img {
	width: 100%;
	height: 100%;
}
.news_article_gamer_wrap .news_all_gamer .all_news_wrapper {
	margin-top: 20px;
	justify-content: space-between;
}
.news_article_gamer_wrap .news_all_gamer .all_news_wrapper .all_news_item {
	width: 32%;
	margin-bottom: 20px;
}
.news_article_gamer_wrap .news_all_gamer .all_news_wrapper .all_news_item img {
	width: 100%;
}
.news_article_gamer_wrap .news_all_gamer .all_news_wrapper .all_news_item a {
	text-decoration: none;
	color: #0b132b;
}
.news_article_gamer_wrap .news_all_gamer .all_news_wrapper .all_news_item .news_full_info {
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.news_article_gamer_wrap .news_all_gamer .all_news_wrapper .all_news_item .news_full_info .date,
.news_article_gamer_wrap .news_all_gamer .all_news_wrapper .all_news_item .news_full_info .category {
	float: left;
}
.news_article_gamer_wrap .news_all_gamer .all_news_wrapper .all_news_item .news_full_info .date {
	margin-right: 20px;
}
.news_article_gamer_wrap .news_all_gamer .all_news_wrapper .all_news_item .news_full_info .developer {
	float: right;
	font-family: "akrobat-bold", sans-serif;
}
.news_article_gamer_wrap .news_all_gamer .all_news_wrapper .all_news_item h2 {
	font-family: "akrobat-bold", sans-serif;
	font-size: 30px;
	letter-spacing: 1px;
	padding-top: 10px;
	text-transform: uppercase;
}
.news_article_gamer_wrap .news_all_gamer .all_news_wrapper .all_news_item:hover  h2 {
	color: #f79d00;
}
.navigation {
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}
.navigation ul li {
	display: inline-block;
	margin: 0 5px;
}
.navigation ul li a {
	text-decoration: none;
	font-size: 16px;
	letter-spacing: 3px;
	color: #0b132b;
}
.navigation ul li a.active,
.navigation ul li a:hover {
	font-size: 24px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.navigation ul li:first-child a,
.navigation ul li:last-child a {
	font-size: 36px;
	font-family: "akrobat-regular", sans-serif;
	vertical-align: -5px;
}
.dev_balance_wrapper .my_games .my_games_list ul li {
	display: inline-block;
	margin-right: 95px;
	text-align: center;
}
.dev_balance_wrapper .my_games .my_games_list ul li p {
	display: inline-block;
	font-size: 18px;
	font-family: "akrobat-regular", sans-serif;
}
.dev_balance_wrapper .my_games .my_games_list .min_totum {
	width: 10px;
}
.dev_balance_wrapper .my_games .game_add img {
	margin-bottom: 7px;
}
.dev_balance_wrapper .my_games .game_add .add_new_game {
	text-transform: uppercase;
	font-size: 14px;
	font-family: "akrobat-bold", sans-serif;
	color: #0b132b;
	letter-spacing: 1px;
}
.dev_balance_wrapper .my_games .game_add .add_new_game:hover {
	color: #f79d00;
}
.dev_balance_wrapper .my_games .my_games_list ul li .game {
	margin-bottom: 10px;
}