/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .gradient-parent {
        margin: 45px 35px 0 35px;
    }
    nav ul li{
        padding: 0 0 0 20px;
    }
    nav ul li:last-child{
        padding-right: 60px;
    }
    .add_news_settings  {
        width: 650px;
    }
    .title {
        width: 400px;
    }
    .add_news_settings .text_news {
        width: 394px;
    }
    .add_news_settings .publish {
        margin-left: 425px;
    }
    .add_news_preview {
        left: 575px;
    }
    .bottom_menu {
        display: none;
    }
    .order_adv_wrapper {
        margin-left: 100px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .logo {
        padding-left: 35px;
    }
    nav ul li:last-child{
        padding-right: 40px;
    }
    .add_news_preview {
        display: none;
    }
    .add_news_settings {
        width: 750px;
    }
    .title {
        width: 555px;
    }
    .add_news_settings .text_news {
        width: 545px;
    }
    .add_news_settings .publish {
        margin-left: 575px;
    }
    .attention {
        letter-spacing: 0;
    }
    .adventise_preview {
        display: none;
    }
        .order_adv_wrapper {
        margin: 10px auto;
        padding: 0 5px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    nav {
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 20px;
    }
    nav ul {
        background-color: #d9d9d9;
    }
    .copyright {
        float: none;
        text-align: center;
        padding: 0;
    }
    .footer_link {
        text-align: center;
        padding: 0;
    }
    footer {
        height: 90px;
    }
    .gradient-parent {
        height: 180px;
        width: 360px;
    }
    .gradient-parent img {
        width: 80px;
    }
    .gradient-parent h1 {
    font-size: 43px;
    }
    .add_news h1,
    .green_line,
    .add_news_settings h3,
    .file-upload,
    .filename,
    .title,
    .add_news_settings .text_news,
    .attention {
        margin-left: 40px;
    }
    .title {
        width: 425px;
    }
    .add_news_settings .text_news {
        width: 415px;
    }
    .add_news_settings .publish {
        margin-left: 372px;
    }
    .attention {
        padding-right: 20px;
    }
    .footer_link {
        float: none;
    }
    .adver_load_img {
        margin-left: 105px;
    }
    .load_img_adv {
        margin-left: 105px;
    }
    .order_adv_wrapper_items p {
        font-size: 18px;
    }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .logo {
        margin: 0 auto;
        padding-left: 50px;
    }
    .content h1 {
        font-size: 24px;

    }
    .content h2 {
        font-size: 16px;
        padding-top: 5px;
    }
    .new_account {
        width: 300px;
    }
    .content .new_account .create {
        padding: 0 15px;
        right: -15px;
        top: 333px;
    }
    .content .button_gray {
        width: 205px;
        margin: 0 0 0 47px;
    }
    footer {
        font-size: 14px;
    }
    .content .new_account .login {

        top: 258px;
    }
    .gradient-parent {
        height: 120px;
        width: 240px;
    }
    .gradient-parent img {
        width: 55px;
        padding-top: 20px;
    }
    .gradient-parent h1 {
        font-size: 35px;
        padding-top: 0;
    }
    .add_news h1,
    .green_line,
    .add_news_settings h3,
    .file-upload,
    .filename,
    .title,
    .add_news_settings .text_news,
    .attention {
        margin-left: 20px;
    }
    .add_news_settings h3 {
        font-size: 20px;
    }
    .select_category {
        left: 188px;
        top: 212px;
    }
    .news_category {
        width: 105px;
    }
    .add_news_settings .text_news {
        width: 277px;
        margin-bottom: 45px;
    }
    .title {
        width: 287px;
    }
    .add_news_settings .publish {
        margin-left: -102px;
    }
    .game_added .button_gray {
        margin: 0 auto;
        margin-bottom: 15px;
        text-align: center;
    }
    .add_game_wrapper {
        width: 280px;
    }
    .save_logo {
        right: 45px;
        top: 355px;
    }
    .currency_exch_rate {
        width: 77%;
    }
        .resolution_cat {
        top: 47px;
    }
    .adv_pay_wrapper {
        margin-left: 77px;
    }
    .enter_amount {
    font-size: 22px;
    }
    .order_adv .order_adv_wrapper .adver_load_img {
        margin-left: 79px;
    }
    .order_adv .order_adv_wrapper .load_img_adv {
        margin-left: 79px;
    }
    .adv_pay_wrapper .adv_pay_ok {
        margin-right: 103px;
    }
    .order_adv_wrapper_items {
        padding-left: 80px;
    }
    .green_line {
        width: 54px;
    }

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    button.menu {
    display: none;
  }
  nav ul {
    display: table;
  }
  nav ul li {
    display: table-cell;
    text-align: center;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}